.idea
.vscode/
.Build
!.Build/Web/.gitkeep
composer.lock
composer.lock.*
composer.json.testing
composer.json.orig
composer.json.pretty
*.cache
var
.cache/
.php-cs-fixer.cache
.DS_Store
/vendor
/Documentation-GENERATED-temp/
/.test-results
/Build/testing-docker/.env
/config/
Build/node_modules/
/tailor-version-artefact/
/tailor-version-upload/
/.refs/
